<div [hidden] = showChatBox class="container justify-content-center">
  <div class="card ">
    <div class="d-flex flex-row justify-content-center p-3 adiv text-white border border-white">
      <span class="pb-3">Contacts</span>
    </div>
    <div class="scrollable border border-white">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center user-list-item" *ngFor="let user of users" (click)="openChat(user)">
           {{user?.username}}
          <span class="badge unread-message-pill rounded-pill text-white">1</span>

        </li>
      </ul>

    </div>
  </div>
</div>


<div [hidden] = !showChatBox class="container justify-content-center">
  <div class="card ">
    <div class="d-flex flex-row justify-content-between p-3 adiv text-white border border-white">
      <i class="fas fa-chevron-left" (click)="backToContacts()"></i>
      <span class="pb-3">{{selectedUser?.username}}</span>
      <span></span>
    </div>
    <div class="container px-0">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="scrollable-message-box form-group px-3 py-2">
                <div class="messages" >
                  <ul>
                    <li [class]="msg.type" *ngFor="let msg of messages">
                      <p>{{msg?.value || ''}}</p>
                    </li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-9 pl-3 pr-0 ">
              <div class="form">
                <div class="form-group px-3 ">
                  <textarea (keyup.enter)="sendNewMessage(messageInput)" #messageInput class="form-control messagebox" rows="3" placeholder="Type your message"></textarea>
                </div>
              </div>
            </div>
            <div class="col-3 pl-2 justify-content-center py-3 ">
              <button  type="button" class="btn  send-button btn-round btn-icon btn-sm" (click)="sendNewMessage(messageInput)">
                <i class="fa-regular fa-paper-plane fa-sm "></i>
              </button>
            </div>
          </div>
        </div>
      </div>




    </div>
  </div>
</div>


