
body{
  background: #EEEEEE;
  font-family: 'Roboto', sans-serif;
}
.card{
  width: 300px;
  border: none;
  border-radius: 15px;
}
.adiv{
  background: #00B2FF;
  border-radius: 15px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 12px;
  height: 46px;
}
.chat{
  border: none;
  background: #E2FFE8;
  font-size: 10px;
  border-radius: 20px;
}
.bg-white{
  border: 1px solid #E7E7E9;
  font-size: 10px;
  border-radius: 20px;
}
.myvideo img{
  border-radius: 20px
}
.dot{
  font-weight: bold;
}
.form-control{
  border-radius: 12px;
  border: 1px solid #F0F0F0;
  font-size: 8px;
}
.form-control:focus{
  box-shadow: none;
}
.form-control::placeholder{
  font-size: 8px;
  color: #C4C4C4;
}

.scrollable{
  height:280px;
  overflow-y: scroll;


}

.scrollable-message-box{
  height:153px;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;


}

.messagebox{
  font-size: 14px;
  overflow: hidden;
}

.messagebox::placeholder{
  font-size: 14px;
}

.unread-message-pill{
  background: #AEAEAE;
}

::-webkit-scrollbar-thumb {
  background: #00B2FF;
}

.user-list-item{
  cursor: default;
  color:#6F6F6F ;
}

.user-list-item:hover{
  background-color: #00B2FF;
  color: white;
}
.send-button{
  background-color: #AEAEAE;
}

.send-button:hover{
  background-color:  #00B2FF;
}

.messages ul li {
  display: inline-block;
  clear: both;
  float: left;
  margin: 15px 15px 5px 15px;
  width: calc(100% - 25px);
  font-size: 0.9em;
}

.messages ul li:nth-last-child(1) {
  margin-bottom: 20px;
}

.messages ul li.sent p {
  background: #00B2FF;
  color: #f5f5f5;
  float:left;
}

.messages ul li.sent  {
    margin-left:-35px;
}

.messages ul li.replies p {
  background: #AEAEAE;
  color: white;
  float: right;
}

.messages ul li p {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 205px;
  line-height: 130%;
}

.messages ul li.replies i {
  float: right;
  margin: 6px 0 0 8px;
  color:#AEAEAE;
}

.messages ul li i {
  font-size: 20px;
  float: left;
  color:#00B2FF;
}

.messages ul li.sent i {
  margin: 6px 8px 0 0;
}
