
<div class="input-group input-group-alternative">

    <div class="input-group-prepend">
      <span #dateIcon (click)="ngbDatepickerIdentifier.toggle()" class="input-group-text"><i class="fa fa-calendar"></i></span>
    </div>

  <input
    hidden
    ngbDatepicker
    [dayTemplate]="t"
    [autoClose]="true"
    (dateSelect)="onNgbDatepickerSelection($event)"
    #ngbDatepickerIdentifier="ngbDatepicker"
  >

  <input
    [specialCharacters]="[ '/' ,']' , '\\' ]"
    mask="{{mask}}"
    class="form-control"
    placeholder="{{dateFormat}}"
    (keydown)="onKeyDownEvent($event)"
    [(ngModel)]="model"
    (focusout)="dateModelFocusOut()"
  >

  <ng-template #t let-date="date" let-focused="focused">
            <span class="custom-day">
            {{ date.day }}
            </span>
  </ng-template>

</div>

