<div class="row formnav">
    <div class="col-sm-12">
      <div class="numbers pull-left">  </div>
      <div class="pull-left">
        <div class="col-12">
          <h3 style="margin-top: 20px;margin: 0px;margin-top: 10px;">
            <i class="fa-sharp fa-solid fa-magnifying-glass" style="padding-right: 5px;"></i>
            Html Preview
          </h3>
          <p style=" margin-bottom: 5px;" [innerHTML]="trustResource(html)" >  </p>
        </div>
      </div>
      <div class="pull-right">
        <button class="btn btn-outline-success" (click)="printPreview()">
          <i class="fa fa-plus-circle"></i> Preview
        </button>
      </div>
    </div>
  </div>
