<div class="row">
  <div class="col-sm-12">
    <div class="pull-left">
      <button class="btn btn-outline-success" style="margin-top: 0px;" (click)="save()">
        <i class="fa fa-save"></i>
        Save
      </button>
      <button class="btn btn-outline-danger" style="margin-top: 0px;" [hidden]="mode === 'new-record'"
              (click)="delete()">
        <i class="fa fa-times"></i>
        Delete
      </button>
      <button class="btn btn-outline-primary" style="margin-top: 0px;" *ngIf="showPreviousPageButton()"
              (click)="navigateToPreviousPage()">
        <i class="fa fa-chevron-left"></i> Back
      </button>
      <button class="btn btn-outline-primary" style="margin-top: 0px;" *ngIf="showNextPageButton()"
              (click)="navigateToNextPage()">
        <i class="fa fa-chevron-right"></i> Next
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Component</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="componentDTO.name">
                <code></code>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">

        <div class="row">
          <div class="col-sm-7">
            <h5 class="card-title pull-left">Schema</h5>
          </div>
          <div class="col-sm-5">
            <div class="pull-right">
              <button class="btn btn-outline-primary" (click)="setSelectedTableComponent(componentDTO)"
                      data-target="#menuModal" data-toggle="modal">
                <i class="fa fa-link"></i> Select Table
              </button>
            </div>
          </div>
        </div>

      </div>
      <div class="card-body">
        <ul>
          <li class="component-table" *ngFor="let row of componentDTO.componentTableList">
            <div class="row">
              <div class="col-md-12">
                <h6>

                  <button (click)="removeTableComponent(row)" type="button" title="remove table"
                          class="btn btn-outline-danger btn-icon btn-sm">
                    <i class="fa fa-times"></i>
                  </button>
                  <button *ngIf="row.table != null && row.showFieldList === true" (click)="hideChildren(row)"
                          type="button" title="Hide"
                          class="btn btn-outline-default btn-icon btn-sm">
                    <i class="fa fa-compress"></i>
                  </button>

                  <button *ngIf="row.table != null && row.showFieldList !== true" (click)="showChildren(row)"
                          type="button" title="Show"
                          class="btn btn-outline-default btn-icon btn-sm">
                    <i class="fa fa-expand"></i>
                  </button>
                  [{{row.code}}] {{row.table.name}}

                </h6>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>selector</label>
                  <input type="text" class="form-control" name="selector" [(ngModel)]="row.selector">
                  <code></code>
                </div>
              </div>
            </div>

            <ul *ngIf="row.table != null && row.showFieldList === true">
              <li *ngFor="let field of row.componentTableFieldList">


                <div class="row">
                  <div class="col-md-12">
                    <h6>
                      {{field.tableField?.name}}({{field.tableField.type}})
                    </h6>
                  </div>
                </div>


                <div class="row">
                  <label class="col-md-auto col-form-label">Description</label>
                  <div class="col">
                    <input type="text" class="form-control" [(ngModel)]="field.description">
                  </div>
                </div>


                <div class="row">
                  <label class="col-md-auto col-form-label">Default Value</label>
                  <div class="col">
                    <input type="text" class="form-control" [(ngModel)]="field.defaultValue">
                  </div>
                </div>

                <div class="row">
                  <label class="col-md-auto col-form-label">Component Editor</label>
                  <div class="col">
                    <input type="text" class="form-control" [(ngModel)]="field.editor">
                  </div>
                </div>


                <div class="row">
                  <label class="col-md-auto col-form-label">Save Statement</label>
                  <div class="col">
                    <input type="text" class="form-control" [(ngModel)]="field.saveStatement">
                  </div>
                </div>

              </li>
            </ul>


          </li>
        </ul>
      </div>

    </div>
  </div>
</div>


<div aria-labelledby="ModalLabel" class="modal fade" id="menuModal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h4 *ngIf="mode === 'insert'" class="title title-up modal-title">Insert menu</h4>
        <h4 *ngIf="mode === 'edit'" class="title title-up modal-title">Edit menu</h4>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><i
          class="nc-icon nc-simple-remove"></i></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-12">
              <table class="table table-striped">
                <thead class=" text-primary">
                <tr>
                  <th>id</th>
                  <th>name</th>
                  <th>version</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let row of tables" (click)="selectTable(row)" data-dismiss="modal" style="cursor: pointer;">
                  <td>{{row['id']}}</td>
                  <td>{{row['name']}}</td>
                  <td>{{row['creationVersion']}}</td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <div class="left-side">
          <button class="btn btn-outline-danger" data-dismiss="modal" type="button">Close</button>
        </div>

      </div>
    </div>
  </div>
</div>
