
ul {
  list-style-type: none;
}

li{
  list-style-type: none;
}

.btn {
  margin: 2px;
}

.textfield-button-danger {
  padding: 10px 5px 10px 5px !important;
  border: 2px solid #ef8157 !important;
  color: #ff0000;
}

.textfield-button-warning{
  padding: 10px 5px 10px 5px !important;
  border: 2px solid #fbc658 !important;
  color: #d28e00;
}

.textfield-button-info{
  padding: 10px 5px 10px 5px !important;
  border: 2px solid #17a2b8 !important;
  color: #17a2b8;
}

/*.caret {*/
  /*cursor: pointer;*/
  /*-webkit-user-select: none; !* Safari 3.1+ *!*/
  /*-moz-user-select: none; !* Firefox 2+ *!*/
  /*-ms-user-select: none; !* IE 10+ *!*/
  /*user-select: none;*/
/*}*/

/*.caret::before {*/
  /*content: "\25B6";*/
  /*color: black;*/
  /*display: inline-block;*/
  /*margin-right: 6px;*/
/*}*/

/*.caret-down::before {*/
  /*-ms-transform: rotate(90deg); !* IE 9 *!*/
  /*-webkit-transform: rotate(90deg); !* Safari *!*/
  /*transform: rotate(90deg);*/
/*}*/

/*.nested {*/
  /*display: none;*/
/*}*/

/*.active {*/
  /*display: block;*/
/*}*/




.margin-left{
  margin-left: 10px;
}


.component-table {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid #66615b;
  border-radius: .25rem;
}
