<table class="table table-striped table-fixed">
  <thead class="text-primary">
  <tr>
    <th *ngIf="formcontrol.formControlTable.formControlButtons.length > 0"></th>
    <th *ngFor="let tableFieldComponent of formcontrol.formControlTable.formControls"
        class="col-{{tableFieldComponent.formControlField.id}}" [ngClass]="{'table-found-by-search-bar' : tableFieldComponent.searchSelected}">
      {{tableFieldComponent.formControlField.description}}
    </th>
  </tr>
  <tr>
    <th *ngIf="formcontrol.formControlTable.formControlButtons.length > 0"></th>
    <th *ngFor="let formControl of formcontrol.formControlTable.formControls"
        class="col-{{formControl.formControlField.id}}" [ngClass]="{'table-found-by-search-bar' : formControl.searchSelected}">

      <app-list-selector
        *ngIf="formControl.formControlField.componentPersistEntityField.assignment.type === 'list' &&
               formControl.formControlField.headerFilter"
        [editable]="true"
        [command]="formControl.formControlField.componentPersistEntityField.assignment.filterEditor"
        [(value)]="formControl.filterValue"
        [lineComponentPersistEntity]="null"
        [componentPersistEntityDTO]="null"
        [componentPersistEntityFieldDTO]="null"
        [component]="this.component"
        (eventOccured)="filterListRefreshData($event, formcontrol.formControlTable)"></app-list-selector>

      <input type="text"
             style="padding: 10px;"
             *ngIf="formControl.formControlField.componentPersistEntityField.assignment.type !== 'list' &&
                    formControl.formControlField.headerFilter"
             class="form-control transparent-input header-filter-{{formControl.formControlField.id}} ctrl-field"
             [(ngModel)]="formControl.filterValue"
             (keydown)="filterRefreshData($event,formcontrol.formControlTable)">
    </th>
  </tr>
  </thead>
  <tbody class="list-table-body list-table-body-{{this.formcontrol.formControlTable.id}}">
  <tr
    *ngIf="formcontrol.formControlTable.formControlLines?.length === 0 && formcontrol.formControlTable.formControlButtons.length === 0">
    <td [attr.colspan]="formcontrol.formControlTable.formControls.length" class="empty-table-row">Empty!</td>
  </tr>
  <tr
    *ngIf="formcontrol.formControlTable.formControlLines?.length === 0 && formcontrol.formControlTable.formControlButtons.length > 0">
    <td [attr.colspan]="formcontrol.formControlTable.formControls.length+1" class="empty-table-row">Empty!</td>
  </tr>
  <ng-container *ngFor="let formControlLine of formcontrol.formControlTable.formControlLines; let rowIndex = index">
  <tr *ngIf="formControlLine.hideLine != true">
    <td *ngIf="formcontrol.formControlTable.formControlButtons.length > 0">
      <button
        (click)="formButtonClicked(tableFormControl,
         formControlLine,
         formcontrol.formControlTable.formControlLines,
         formcontrol,
         formcontrol.formControlTable)"
        *ngFor="let tableFormControl of formcontrol.formControlTable.formControlButtons"
        class="btn {{tableFormControl.formControlButton.cssClass}} btn-icon btn-sm"
        title="{{tableFormControl.formControlButton.description}}"
        type="button">
        <i class="fa {{tableFormControl.formControlButton.icon}}"> </i>
      </button>
    </td>
    <ng-container *ngFor="let formComponentCell of formControlLine.formControlCells; let colIndex = index">
    <td (keydown)="cellsKeyDown($event, formcontrol, formControlLine, rowIndex, colIndex )"
        [ngClass]="{'found-by-search-bar' : formComponentCell.searchSelected}"
        class="col-{{formComponentCell.formControl.id}} cell-{{formComponentCell.id}} tbl-{{formcontrol.id}}-cell-{{rowIndex}}-{{colIndex}}">
      <span [ngClass]="{'table-found-by-search-bar' : formComponentCell.searchSelected}" >{{formComponentCell.formControl.formControlField.description}}</span>
      <ng-container *ngIf="formComponentCell.formControl.type === 'field'">
        <ng-container
          *ngIf="formComponentCell.formControl.formControlField.componentPersistEntityField.assignment.type === 'varchar' ||
                         formComponentCell.formControl.formControlField.componentPersistEntityField.assignment.type === 'text' ">
          <app-varchar-input
            (eventOccured)="tableEventOccured($event,
            formcontrol.formControlTable.componentPersistEntity,
            formControlLine.componentPersistEntityDataLine)"
            (focusEvent)="setSelectedTableLineComponentTree(formcontrol.formControlTable.componentPersistEntity,
                                   formControlLine.componentPersistEntityDataLine)"
            [componentPersistEntityDTO]="formComponentCell.formControl.formControlField.componentPersistEntity"
            [componentPersistEntityFieldDTO]="formComponentCell.componentPersistEntityField"
            [editable]="formComponentCell.formControl.formControlField.editable"
            [mask]="(!!formComponentCell.formControl.formControlField.mask)?formComponentCell.formControl.formControlField.mask:''"
            [ngClass]="{'requider-field': formComponentCell.formControl.formControlField.required}"
            [ngClass]="{'hidden-field': !formComponentCell.formControl.formControlField.visible}">
          </app-varchar-input>
        </ng-container>
        <ng-container
          *ngIf="formComponentCell.formControl.formControlField.componentPersistEntityField.assignment.type === 'combo'">
          <app-combo-box (eventOccured)="tableEventOccured($event,
                             formcontrol.formControlTable.componentPersistEntity,
                             formControlLine.componentPersistEntityDataLine)"
                         [componentPersistEntityDTO]="formComponentCell.formControl.formControlField.componentPersistEntity"
                         [componentPersistEntityFieldDTO]="formComponentCell.componentPersistEntityField"
                         [editable]="formComponentCell.formControl.formControlField.editable"
                         class="form-input-field">
          </app-combo-box>
        </ng-container>
        <ng-container
          *ngIf="formComponentCell.formControl.formControlField.componentPersistEntityField.assignment.type === 'checkbox'">

          <app-check-box (eventOccured)="tableEventOccured($event,
            formcontrol.formControlTable.componentPersistEntity,
            formControlLine.componentPersistEntityDataLine)"
                         (focusEvent)="setSelectedTableLineComponentTree(formcontrol.formControlTable.componentPersistEntity,
                                   formControlLine.componentPersistEntityDataLine)"
                         [componentPersistEntityDTO]="formComponentCell.formControl.formControlField.componentPersistEntity"
                         [componentPersistEntityFieldDTO]="formComponentCell.componentPersistEntityField"
                         [editable]="formComponentCell.formControl.formControlField.editable"
                         [mask]="(!!formComponentCell.formControl.formControlField.mask)?formComponentCell.formControl.formControlField.mask:''"
                         [ngClass]="{'hidden-field': !formComponentCell.formControl.formControlField.visible}"
                         [ngClass]="{'requider-field': formComponentCell.formControl.formControlField.required}"
                         class="form-input-field">
          </app-check-box>
        </ng-container>
        <ng-container
          *ngIf="formComponentCell.formControl.formControlField.componentPersistEntityField.assignment.type === 'autocomplete-combo'">
          <app-autocomplete-combo-box
            (eventOccured)="tableEventOccured($event,
            formcontrol.formControlTable.componentPersistEntity,
            formControlLine.componentPersistEntityDataLine)"
            [componentPersistEntityDTO]="formComponentCell.formControl.formControlField.componentPersistEntity"
            [componentPersistEntityFieldDTO]="formComponentCell.componentPersistEntityField"

            [editable]="formComponentCell.formControl.formControlField.editable"
            [ngClass]="{'hidden-field': !formComponentCell.formControl.formControlField.visible}"
            [ngClass]="{'requider-field': formComponentCell.formControl.formControlField.required}">
          </app-autocomplete-combo-box>
        </ng-container>
        <ng-container
          *ngIf="formComponentCell.formControl.formControlField.componentPersistEntityField.assignment.type === 'double' ">
          <app-numeric-input
            (eventOccured)="tableEventOccured($event,
            formcontrol.formControlTable.componentPersistEntity,
            formControlLine.componentPersistEntityDataLine)"
            (focusEvent)="setSelectedTableLineComponentTree(formcontrol.formControlTable.componentPersistEntity,
                                   formControlLine.componentPersistEntityDataLine)"
            [(inputValue)]="formComponentCell.componentPersistEntityField.value"
            [componentPersistEntityDTO]="formComponentCell.formControl.formControlField.componentPersistEntity"
            [componentPersistEntityFieldDTO]="formComponentCell.componentPersistEntityField"
            [editable]="formComponentCell.formControl.formControlField.editable"
            [fieldClass]="formComponentCell.id"
            [mask]="(!!formComponentCell.formControl.formControlField.mask)?formComponentCell.formControl.formControlField.mask:'0*.0000'"
            [mask]="'0*.0000'"
            [ngClass]="{'hidden-field': !formComponentCell.formControl.formControlField.visible}">
          </app-numeric-input>
        </ng-container>
        <ng-container
          *ngIf="formComponentCell.formControl.formControlField.componentPersistEntityField.assignment.type === 'int' ||
                         formComponentCell.formControl.formControlField.componentPersistEntityField.assignment.type === 'bigint'">
          <app-numeric-input
            (eventOccured)="tableEventOccured($event,
            formcontrol.formControlTable.componentPersistEntity,
            formControlLine.componentPersistEntityDataLine)"
            (focusEvent)="setSelectedTableLineComponentTree(formcontrol.formControlTable.componentPersistEntity,
                                   formControlLine.componentPersistEntityDataLine)"
            [(inputValue)]="formComponentCell.componentPersistEntityField.value"
            [editable]="formComponentCell.formControl.formControlField.editable"
            [fieldClass]="formComponentCell.id"
            [mask]="'0*'"
            [mask]="(!!formComponentCell.formControl.formControlField.mask)?formComponentCell.formControl.formControlField.mask:'0*'"
            [ngClass]="{'hidden-field': !formComponentCell.formControl.formControlField.visible}">
          </app-numeric-input>
        </ng-container>
        <ng-container
          *ngIf="formComponentCell.formControl.formControlField.componentPersistEntityField.assignment.type === 'list'">
          <app-list-selector
            (eventOccured)="tableEventOccured($event,
            formcontrol.formControlTable.componentPersistEntity,
            formControlLine.componentPersistEntityDataLine)"
            (focusEvent)="setSelectedTableLineComponentTree(formcontrol.formControlTable.componentPersistEntity,
                                   formControlLine.componentPersistEntityDataLine)"
            [(value)]="formComponentCell.componentPersistEntityField.value"
            [command]="formComponentCell.componentPersistEntityField.assignment.editor"
            [componentPersistEntityDTO]="formComponentCell.formControl.formControlField.componentPersistEntity"
            [componentPersistEntityFieldDTO]="formComponentCell.componentPersistEntityField"
            [component]="this.component"
            [editable]="formComponentCell.formControl.formControlField.editable"
            [fieldClass]="formComponentCell.id"
            [lineComponentPersistEntity]="formControlLine.componentPersistEntity"
            [ngClass]="{'hidden-field': !formComponentCell.formControl.formControlField.visible}"
          ></app-list-selector>
        </ng-container>
        <ng-container
          *ngIf="formComponentCell.formControl.formControlField.componentPersistEntityField.assignment.type === 'chips'">
          <app-chips
            (eventOccured)="tableEventOccured($event,
            formcontrol.formControlTable.componentPersistEntity,
            formControlLine.componentPersistEntityDataLine)"
            (focusEvent)="setSelectedTableLineComponentTree(formcontrol.formControlTable.componentPersistEntity,
                                   formControlLine.componentPersistEntityDataLine)"
            [command]="formComponentCell.componentPersistEntityField.assignment.editor"
            [componentPersistEntityFieldDTO]="formComponentCell.componentPersistEntityField"
            [componentPersistEntity]="formControlLine.componentPersistEntity"
            [editable]="formComponentCell.formControl.formControlField.editable"
            [fieldClass]="formComponentCell.id"
            [ngClass]="{'hidden-field': !formComponentCell.formControl.formControlField.visible}">
          </app-chips>
        </ng-container>
        <ng-container
          *ngIf="formComponentCell.formControl.formControlField.componentPersistEntityField.assignment.type === 'datetime'">
          <app-date-picker
            (eventOccured)="tableEventOccured($event,
            formcontrol.formControlTable.componentPersistEntity,
            formControlLine.componentPersistEntityDataLine)"
            (focusEvent)="setSelectedTableLineComponentTree(formcontrol.formControlTable.componentPersistEntity,
                                   formControlLine.componentPersistEntityDataLine)"
            [(inputDate)]="formComponentCell.componentPersistEntityField.value"
            [componentPersistEntityDTO]="formComponentCell.formControl.formControlField.componentPersistEntity"
            [componentPersistEntityFieldDTO]="formComponentCell.componentPersistEntityField"
            [editable]="formComponentCell.formControl.formControlField.editable"
            [fieldClass]="formComponentCell.id"
            [mask]="(!!formComponentCell.formControl.formControlField.mask)?formComponentCell.formControl.formControlField.mask:'dd/MM/yyyy'"
            [ngClass]="{'hidden-field': !formComponentCell.formControl.formControlField.visible}"
          ></app-date-picker>
        </ng-container>
        <ng-container
          *ngIf="formComponentCell.formControl.formControlField.componentPersistEntityField.assignment.type === 'datetime_det'">
              <app-date-time-picker class="form-input-field"
                                    [(inputDate)]="formComponentCell.componentPersistEntityField.value"
                                    [editable]="formComponentCell.formControl.formControlField.editable"
                                    [componentPersistEntityDTO]="formComponentCell.formControl.formControlField.componentPersistEntity"
                                    [componentPersistEntityFieldDTO]="formComponentCell.componentPersistEntityField"
                                    [mask]="(!!formComponentCell.formControl.formControlField.mask)?formComponentCell.formControl.formControlField.mask:'dd/MM/yyyy'"
                                    (eventOccured)="tableEventOccured($event,
                                      formcontrol.formControlTable.componentPersistEntity,
                                      formControlLine.componentPersistEntityDataLine)">
              </app-date-time-picker>
        </ng-container>
      </ng-container>
    </td>
    </ng-container>
  </tr>
  </ng-container>
  </tbody>
</table>

<table
  *ngIf="formcontrol.formControlTable.formControlButtons.length > 0 && formcontrol.formControlTable.editable"
  class="table table-fixed">
  <tbody class="list-table-body">
  <tr>
    <td>
      <button
        (click)="tableAppendNewLine(formcontrol.formControlTable.formControlLines,formcontrol.formControlTable)"
        class="btn btn-outline-success btn-icon btn-sm"
        title="New line"
        type="button">
        <i class="fa fa-plus-circle"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
