<table class="table table-striped table-fixed">
  <thead class="text-primary">
  <tr>
    <th *ngIf="formcontrol.formControlTable.formControlButtons.length > 0"></th>
    <th *ngFor="let tableFieldComponent of formcontrol.formControlTable.formControls"
        class="col-{{tableFieldComponent.formControlField.id}}" [ngClass]="{'table-found-by-search-bar' : tableFieldComponent.searchSelected}">
      {{tableFieldComponent.formControlField.description}}
    </th>
  </tr>
  </thead>
  <tbody class="list-table-body list-table-body-{{this.formcontrol.formControlTable.id}}">
  <tr
    *ngIf="formcontrol.formControlTable.formControlLines?.length === 0 && formcontrol.formControlTable.formControlButtons.length === 0">
    <td [attr.colspan]="formcontrol.formControlTable.formControls.length" class="empty-table-row">Empty!</td>
  </tr>
  <tr
    *ngIf="formcontrol.formControlTable.formControlLines?.length === 0 && formcontrol.formControlTable.formControlButtons.length > 0">
    <td [attr.colspan]="formcontrol.formControlTable.formControls.length+1" class="empty-table-row">Empty!</td>
  </tr>
  <tr *ngFor="let formControlLine of formcontrol.formControlTable.formControlLines">

    <td *ngIf="formcontrol.formControlTable.formControlButtons.length > 0">
      <button
        (click)="formButtonClicked(tableFormControl,
         formControlLine,
         formcontrol.formControlTable.formControlLines,
         formcontrol,
         formcontrol.formControlTable)"
        *ngFor="let tableFormControl of formcontrol.formControlTable.formControlButtons"
        class="btn {{tableFormControl.formControlButton.cssClass}} btn-icon btn-sm"
        title="{{tableFormControl.formControlButton.description}}"
        type="button">
        <i class="fa {{tableFormControl.formControlButton.icon}}"> </i>
      </button>
    </td>
    <td *ngFor="let formComponentCell of formControlLine.formControlCells"
        [ngClass]="{'found-by-search-bar' : formComponentCell.searchSelected}"
        class="col-{{formComponentCell.formControl.id}}">
      <span [ngClass]="{'table-found-by-search-bar' : formComponentCell.searchSelected}" >{{formComponentCell.formControl.formControlField.description}}</span>

      <ng-container *ngIf="formComponentCell.formControl.type === 'field'">
        <ng-container
          *ngIf="formComponentCell.formControl.formControlField.componentPersistEntityField.assignment.type === 'varchar' ||
                         formComponentCell.formControl.formControlField.componentPersistEntityField.assignment.type === 'text' ">
          <app-varchar-input
            (eventOccured)="tableEventOccured($event,
            formcontrol.formControlTable.componentPersistEntity,
            formControlLine.componentPersistEntityDataLine)"
            (focusEvent)="setSelectedTableLineComponentTree(formcontrol.formControlTable.componentPersistEntity,
                                   formControlLine.componentPersistEntityDataLine)"
            (keydownEvent)="tableFieldKeyDown($event, formComponentCell.id, formControlLine,
                                   formcontrol.formControlTable.formControlLines,
                                   formcontrol.formControlTable)"
            [componentPersistEntityDTO]="formComponentCell.formControl.formControlField.componentPersistEntity"
            [componentPersistEntityFieldDTO]="formComponentCell.componentPersistEntityField"
            [editable]="formComponentCell.formControl.formControlField.editable"
            [mask]="(!!formComponentCell.formControl.formControlField.mask)?formComponentCell.formControl.formControlField.mask:''"
            [ngClass]="{'requider-field': formComponentCell.formControl.formControlField.required}"
            [ngClass]="{'hidden-field': !formComponentCell.formControl.formControlField.visible}">
          </app-varchar-input>
        </ng-container>
        <ng-container
          *ngIf="formComponentCell.formControl.formControlField.componentPersistEntityField.assignment.type === 'combo'">
          <app-combo-box (eventOccured)="tableEventOccured($event,
                             formcontrol.formControlTable.componentPersistEntity,
                             formControlLine.componentPersistEntityDataLine)"
                         [componentPersistEntityDTO]="formComponentCell.formControl.formControlField.componentPersistEntity"
                         [componentPersistEntityFieldDTO]="formComponentCell.componentPersistEntityField"
                         [editable]="formComponentCell.formControl.formControlField.editable"
                         class="form-input-field">
          </app-combo-box>
        </ng-container>
        <ng-container
          *ngIf="formComponentCell.formControl.formControlField.componentPersistEntityField.assignment.type === 'checkbox'">

          <app-check-box (eventOccured)="tableEventOccured($event,
            formcontrol.formControlTable.componentPersistEntity,
            formControlLine.componentPersistEntityDataLine)"
                         (focusEvent)="setSelectedTableLineComponentTree(formcontrol.formControlTable.componentPersistEntity,
                                   formControlLine.componentPersistEntityDataLine)"
                         (keydownEvent)="tableFieldKeyDown($event, formComponentCell.id, formControlLine,
                                   formcontrol.formControlTable.formControlLines,
                                   formcontrol.formControlTable)"
                         [componentPersistEntityDTO]="formComponentCell.formControl.formControlField.componentPersistEntity"
                         [componentPersistEntityFieldDTO]="formComponentCell.componentPersistEntityField"
                         [editable]="formComponentCell.formControl.formControlField.editable"
                         [mask]="(!!formComponentCell.formControl.formControlField.mask)?formComponentCell.formControl.formControlField.mask:''"
                         [ngClass]="{'hidden-field': !formComponentCell.formControl.formControlField.visible}"
                         [ngClass]="{'requider-field': formComponentCell.formControl.formControlField.required}"
                         class="form-input-field">
          </app-check-box>
        </ng-container>
        <ng-container
          *ngIf="formComponentCell.formControl.formControlField.componentPersistEntityField.assignment.type === 'autocomplete-combo'">
          <app-autocomplete-combo-box
            (eventOccured)="tableEventOccured($event,
            formcontrol.formControlTable.componentPersistEntity,
            formControlLine.componentPersistEntityDataLine)"
            [componentPersistEntityDTO]="formComponentCell.formControl.formControlField.componentPersistEntity"
            [componentPersistEntityFieldDTO]="formComponentCell.componentPersistEntityField"

            [editable]="formComponentCell.formControl.formControlField.editable"
            [ngClass]="{'hidden-field': !formComponentCell.formControl.formControlField.visible}"
            [ngClass]="{'requider-field': formComponentCell.formControl.formControlField.required}">
          </app-autocomplete-combo-box>
        </ng-container>
        <ng-container
          *ngIf="formComponentCell.formControl.formControlField.componentPersistEntityField.assignment.type === 'double' ">
          <app-numeric-input
            (eventOccured)="tableEventOccured($event,
            formcontrol.formControlTable.componentPersistEntity,
            formControlLine.componentPersistEntityDataLine)"
            (focusEvent)="setSelectedTableLineComponentTree(formcontrol.formControlTable.componentPersistEntity,
                                   formControlLine.componentPersistEntityDataLine)"
            (keyDownChange)="tableFieldKeyDown($event, formComponentCell.id, formControlLine,
                               formcontrol.formControlTable.formControlLines,
                               formcontrol.formControlTable)"
            [(inputValue)]="formComponentCell.componentPersistEntityField.value"
            [componentPersistEntityDTO]="formComponentCell.formControl.formControlField.componentPersistEntity"
            [componentPersistEntityFieldDTO]="formComponentCell.componentPersistEntityField"
            [editable]="formComponentCell.formControl.formControlField.editable"
            [fieldClass]="formComponentCell.id"
            [mask]="(!!formComponentCell.formControl.formControlField.mask)?formComponentCell.formControl.formControlField.mask:'0*.0000'"
            [mask]="'0*.0000'"
            [ngClass]="{'hidden-field': !formComponentCell.formControl.formControlField.visible}">
          </app-numeric-input>
        </ng-container>
        <ng-container
          *ngIf="formComponentCell.formControl.formControlField.componentPersistEntityField.assignment.type === 'int' ||
                         formComponentCell.formControl.formControlField.componentPersistEntityField.assignment.type === 'bigint'">
          <app-numeric-input
            (eventOccured)="tableEventOccured($event,
            formcontrol.formControlTable.componentPersistEntity,
            formControlLine.componentPersistEntityDataLine)"
            (focusEvent)="setSelectedTableLineComponentTree(formcontrol.formControlTable.componentPersistEntity,
                                   formControlLine.componentPersistEntityDataLine)"
            (keyDownChange)="tableFieldKeyDown($event, formComponentCell.id, formControlLine,
                                               formcontrol.formControlTable.formControlLines,
                                               formcontrol.formControlTable)"
            [(inputValue)]="formComponentCell.componentPersistEntityField.value"
            [editable]="formComponentCell.formControl.formControlField.editable"
            [fieldClass]="formComponentCell.id"
            [mask]="'0*'"
            [mask]="(!!formComponentCell.formControl.formControlField.mask)?formComponentCell.formControl.formControlField.mask:'0*'"
            [ngClass]="{'hidden-field': !formComponentCell.formControl.formControlField.visible}">
          </app-numeric-input>
        </ng-container>
        <ng-container
          *ngIf="formComponentCell.formControl.formControlField.componentPersistEntityField.assignment.type === 'list'">
          <app-list-selector
            (eventOccured)="tableEventOccured($event,
            formcontrol.formControlTable.componentPersistEntity,
            formControlLine.componentPersistEntityDataLine)"
            (focusEvent)="setSelectedTableLineComponentTree(formcontrol.formControlTable.componentPersistEntity,
                                   formControlLine.componentPersistEntityDataLine)"
            (keyDownChange)="tableFieldKeyDown($event, formComponentCell.id, formControlLine,
                              formcontrol.formControlTable.formControlLines,
                               formcontrol.formControlTable)"
            [(value)]="formComponentCell.componentPersistEntityField.value"
            [command]="formComponentCell.componentPersistEntityField.assignment.editor"
            [componentPersistEntityDTO]="formComponentCell.formControl.formControlField.componentPersistEntity"
            [componentPersistEntityFieldDTO]="formComponentCell.componentPersistEntityField"
            [component]="this.component"
            [editable]="formComponentCell.formControl.formControlField.editable"
            [fieldClass]="formComponentCell.id"
            [lineComponentPersistEntity]="formControlLine.componentPersistEntity"
            [ngClass]="{'hidden-field': !formComponentCell.formControl.formControlField.visible}"
          ></app-list-selector>
        </ng-container>
        <ng-container
          *ngIf="formComponentCell.formControl.formControlField.componentPersistEntityField.assignment.type === 'chips'">
          <app-chips
            (eventOccured)="tableEventOccured($event,
            formcontrol.formControlTable.componentPersistEntity,
            formControlLine.componentPersistEntityDataLine)"
            (focusEvent)="setSelectedTableLineComponentTree(formcontrol.formControlTable.componentPersistEntity,
                                   formControlLine.componentPersistEntityDataLine)"
            (keyDownChange)="tableFieldKeyDown($event, formComponentCell.id, formControlLine,
                              formcontrol.formControlTable.formControlLines,
                               formcontrol.formControlTable)"
            [command]="formComponentCell.componentPersistEntityField.assignment.editor"
            [componentPersistEntityFieldDTO]="formComponentCell.componentPersistEntityField"
            [componentPersistEntity]="formControlLine.componentPersistEntity"
            [editable]="formComponentCell.formControl.formControlField.editable"
            [fieldClass]="formComponentCell.id"
            [ngClass]="{'hidden-field': !formComponentCell.formControl.formControlField.visible}">
          </app-chips>
        </ng-container>
        <ng-container
          *ngIf="formComponentCell.formControl.formControlField.componentPersistEntityField.assignment.type === 'datetime'">
          <app-date-picker
            (eventOccured)="tableEventOccured($event,
            formcontrol.formControlTable.componentPersistEntity,
            formControlLine.componentPersistEntityDataLine)"
            (focusEvent)="setSelectedTableLineComponentTree(formcontrol.formControlTable.componentPersistEntity,
                                   formControlLine.componentPersistEntityDataLine)"
            (keyDownChange)="tableFieldKeyDown($event, formComponentCell.id, formControlLine,
                               formcontrol.formControlTable.formControlLines,
                                formcontrol.formControlTable)"
            [(inputDate)]="formComponentCell.componentPersistEntityField.value"
            [componentPersistEntityDTO]="formComponentCell.formControl.formControlField.componentPersistEntity"
            [componentPersistEntityFieldDTO]="formComponentCell.componentPersistEntityField"
            [editable]="formComponentCell.formControl.formControlField.editable"
            [fieldClass]="formComponentCell.id"
            [mask]="(!!formComponentCell.formControl.formControlField.mask)?formComponentCell.formControl.formControlField.mask:'dd/MM/yyyy'"
            [ngClass]="{'hidden-field': !formComponentCell.formControl.formControlField.visible}"
          ></app-date-picker>
        </ng-container>

        <ng-container
          *ngIf="formComponentCell.formControl.formControlField.componentPersistEntityField.assignment.type === 'datetime_det'">
              <app-date-time-picker class="form-input-field"
                                    [(inputDate)]="formComponentCell.componentPersistEntityField.value"
                                    [editable]="formComponentCell.formControl.formControlField.editable"
                                    [componentPersistEntityDTO]="formComponentCell.formControl.formControlField.componentPersistEntity"
                                    [componentPersistEntityFieldDTO]="formComponentCell.componentPersistEntityField"
                                    [mask]="(!!formComponentCell.formControl.formControlField.mask)?formComponentCell.formControl.formControlField.mask:'dd/MM/yyyy'"
                                    (eventOccured)="tableEventOccured($event,
                                      formcontrol.formControlTable.componentPersistEntity,
                                      formControlLine.componentPersistEntityDataLine)">
              </app-date-time-picker>
        </ng-container>

      </ng-container>
    </td>
  </tr>
  </tbody>
</table>

<table
  *ngIf="formcontrol.formControlTable.formControlButtons.length > 0 && formcontrol.formControlTable.editable"
  class="table table-fixed">
  <tbody class="list-table-body">
  <tr>
    <td>
      <button
        (click)="tableAppendNewLine(formcontrol.formControlTable.formControlLines,formcontrol.formControlTable)"
        class="btn btn-outline-success btn-icon btn-sm"
        title="New line"
        type="button">
        <i class="fa fa-plus-circle"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
