<div class="row">
  <div class="col-sm-7">
    <div class="pull-left">

      <button *ngFor="let formTab of this.dto?.formTabs"  (click)="selectFormTab(formTab)"
              style="margin-top: 0px;margin-bottom: 0px;padding: 10px;background-color: white;"
              type="button"
              class="btn btn-outline-default btn-round">
        <i class="fa {{formTab?.icon}}"></i>
        {{formTab.description}}
      </button>

    </div>
  </div>
</div>

<div class="row">
  <div *ngFor="let formArea of this.selectedFormTab?.formAreas" class="{{formArea.cssclass}}">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-4">
            <h5 class="card-title">
              <i class="fa {{formArea.icon}}"></i>
              {{formArea.description}}
            </h5>
          </div>
          <div class="col-8">
            <div class="pull-right">
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div *ngFor="let formcomponent of formArea?.formComponents" class="{{formcomponent.cssclass}}">
            <div class="form-group">
              <label>{{formcomponent.formComponentField.description}}</label>
              <input type="text" class="form-control" name="{{formcomponent.formComponentField.description}}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
