<div class="input-group input-group-alternative">

  <div data-target="#insertComponentModal"  (keydown)="keyOpenPage($event)"  data-toggle="modal" class="input-group-prepend">
         <span class="input-group-text">
            <i class="fa fa-search"></i>
         </span>
  </div>

  <input readonly (keydown)="keyOpenPage($event)" (click)="openPage()" id="buttonOpen" data-target="#insertComponentModal" data-toggle="modal" type="text"
         class="form-control"
         value="{{displayValue}}">

  <div class="input-group-append">
        <span class="input-group-text input-group-text-rm">
           <i class="fa fa-window-close"></i>
        </span>
  </div>

</div>
