<div class="modal-header">
  <h4 class="modal-title" [innerHTML]="this.trustResource(title)"></h4>
  <button type="button" style="visibility: hidden" ></button>
  <button type="button" class="close" aria-label="Close" (click)="this.dismissClicked()" >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" [innerHTML]="this.trustResource(description)">
  {{description}}
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" (click)="this.yesClicked()" [innerHTML]="this.trustResource(this.btnOkText)"></button>
</div>
