.dashboard-entity {
  padding: 5px;
}

.row {
  /*margin-right: -12px !important;*/
  /*margin-left: -12px !important;*/
}

.main-dashboard-row{
  padding: 10px;
}

.chat-button{
  background-color: #00B2FF;
  position: fixed;
  bottom: 0;
  right: 1%;

}

.chat-div{
  position: fixed;
  bottom: 8%;
  right: 1%;
}


