<div class="wrapper wrapper-full-page background">
  <div class="full-page section-image" filter-color="black">
    <div class="content">
      <div class="container">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <form action="" class="form ng-untouched ng-pristine ng-valid" method="" novalidate="">
            <div class="card card-login">
              <div class="card-header ">
                <div class="card-header ">
                  <h3 class="header text-center"><img _ngcontent-vjv-c107="" src="assets/img/angular2-logo.png"></h3>
                </div>
              </div>
              <div class="card-body ">
                <div class="input-group">
                  <div class="input-group-prepend"><span class="input-group-text"><i
                    class="nc-icon nc-single-02"></i></span></div>
                  <input class="form-control" placeholder="First Name..." type="text">
                </div>
                <div class="input-group">
                  <div class="input-group-prepend"><span class="input-group-text"><i
                    class="nc-icon nc-key-25"></i></span></div>
                  <input class="form-control" placeholder="Password" type="password">
                </div>
                <br>
                <div class="form-group">
                  <div class="form-check"><label class="form-check-label"><input checked="" class="form-check-input"
                                                                                 type="checkbox" value=""><span
                    class="form-check-sign"></span> Subscribe to newsletter </label></div>
                </div>
              </div>
              <div class="card-footer ">

                <a class="btn btn-outline-success btn-block mb-3" href="javascript:void(0)"  [routerLink]="'/dashboard'">
                  <i class="fa fa-sign-in"> </i>
                  Login
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <footer class="footer footer-black  footer-white ">
      <div class="container">
        <div class="row">
          <nav class="footer-nav">
            <ul>
              <li><a href="https://www.creative-tim.com" target="_blank">Creative Tim</a></li>
              <li><a href="http://blog.creative-tim.com/" target="_blank">Blog</a></li>
              <li><a href="https://www.creative-tim.com/license" target="_blank">Licenses</a></li>
            </ul>
          </nav>
          <div class="credits ml-auto"><span class="copyright"> © 2020, made with <i class="fa fa-heart heart"></i> by Creative Tim </span>
          </div>
        </div>
      </div>
    </footer>
    <div class="full-page-background"></div>
  </div>
</div>
