.container{
  padding-top: 21vh;
}

.form{
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.49),
  0 16px 24px 2px rgba(0, 0, 0, 0.31),
  0 6px 30px 5px rgba(0, 0, 0, 0.19);
}

.background{
  /*background-image: url('/assets/img/bg/background.jpg');*/
  background-repeat: repeat;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M0%2c448.417C81.864%2c426.189%2c105.354%2c320.243%2c172.463%2c268.357C230.997%2c223.101%2c329.514%2c231.647%2c364.612%2c166.513C399.624%2c101.538%2c346.312%2c24.346%2c343.699%2c-49.416C340.661%2c-135.163%2c391.895%2c-227.829%2c348.03%2c-301.57C303.852%2c-375.837%2c208.765%2c-407.143%2c123.301%2c-419.924C43.473%2c-431.862%2c-34.297%2c-401.385%2c-108.6%2c-369.856C-175.913%2c-341.293%2c-237.922%2c-302.898%2c-284.781%2c-246.764C-331.051%2c-191.335%2c-361.65%2c-124.94%2c-372.62%2c-53.575C-383.662%2c18.257%2c-367.466%2c88.747%2c-347.078%2c158.505C-323.659%2c238.635%2c-309.444%2c328.29%2c-245.373%2c381.808C-178.984%2c437.263%2c-83.48%2c471.084%2c0%2c448.417' fill='%230b2239'%3e%3c/path%3e%3cpath d='M1440 1037.62C1528.081 1039.656 1594.358 963.134 1667.816 914.488 1740.176 866.568 1835.551 835.885 1866.857 754.939 1897.997 674.422 1846.718 588.348 1826.4 504.444 1808.126 428.98199999999997 1808.79 342.905 1753.805 288.086 1699.6979999999999 234.142 1615.3220000000001 232.52300000000002 1540.119 219.027 1472.497 206.89100000000002 1406.921 211.06900000000002 1338.262 213.512 1245.366 216.817 1136.3020000000001 175.125 1065.963 235.89499999999998 996.9 295.562 1019.826 407.406 1008.9490000000001 498.024 998.344 586.379 962.249 680.467 1003.1120000000001 759.52 1043.686 838.015 1144.314 856.659 1218.855 904.108 1292.997 951.303 1352.135 1035.589 1440 1037.62' fill='%23113255'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.wrapper.wrapper-full-page {
 z-index: 999;
}

.btn-outline-success {
  border: 1px solid #51cbce !important;
  color: #51cbce !important;
}

.btn-outline-success:hover{
  border: 1px solid #837c7c !important;
  background-color: #51cbce !important;
  color: #fff !important;
}

.content{
  z-index: 999;
}

.footer{
  z-index: -1 !important;
  position: absolute;
  width: 100%;
  bottom: 0;
  border-top: none;
  color: white;
  z-index: 99;
}

.navbar{
  padding-top: 30px;
  border-bottom: none;
}

.navbar.navbar-transparent a:not(.dropdown-item):not(.btn) {
  color: #ffffff;
}

.footer {
  padding: 24px 0;
  padding-top: 0px;
}

.social a{
  padding: 0px 2px 0px 2px;
}

.social-google {
  color: #dc3545;
}

.social-facebook {
  color: #0e4194;
}

.social-github {
  color: #342333;
}

.social-linkedin {
  color: #0881b0;
}

.username-icon, .password-icon {
  padding: 10px 5px 10px 6px !important;
}

.password-icon .fa-lock{
  font-size: 13px;
}

.card-login{
  box-shadow: #332739 0px 7px 29px 0px;
}
