.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.input-group{
  margin-bottom: 0px !important;
}

.requider-field {
  border: 1px solid #f28157;
}

.hour{
  max-width: 80px;
  border-right: 1px solid #51cbce !important;
}

.min{
  max-width: 60px;
}

.hour[readonly]{
  border-right: 1px solid #DDDDDD !important;
}

.input-group-append .input-group-text, .input-group-prepend .input-group-text {
  border: 1px solid #51cbce;
  border-right: 0px;
}
